
body{
	background-color: #F0F0F0;
	border: 5px solid #000;
}
#man{
	height: 750px;
	float: left;
	position: fixed;
	z-index: 1;
}
#text{
	float: right;
	font-size: 30px;
	margin-top: 150px;
	font-weight: bold;
}
#wrapper{
	padding-left: 100px;
	padding-right: 100px;
	z-index: 10;
	
}
i{
	color : red;
}

@media screen and (max-width: 990px) {
	#man{
	position: static;
	}

  
}
